.container {
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center
}

.headingfortable {
	padding: 12px 12px 12px 12px;
	text-align: left;
	background-color: blueviolet;
	color: white;
}

.table {
	width: 80%;
	margin: 20px 20px 20px 20px;
}

.button {
	display: inline-block;
	width: 40%;
	border: none;
	background-color: lightblue;
	color: black;
	padding: 14px 28px;
	margin: 5px 20px 0px 0px;
	font-size: 16px;
	cursor: pointer;
	text-align: center;
}

.box {
	height: auto;
	width: 400px;
	background: #fff;
	position: relative;
	text-align: center;
	background-color: lightblue;
}

.table th {
	padding: 12px 12px 12px 12px;
	text-align: left;
	background-color: blueviolet;
	color: white;
}

.table td {
	border: 1px solid #dddddd;
	padding: 8px;
}

.table tr:nth-child(even) {
	background-color: #f2f2f2;
}

.table tr:hover {
	background-color: #ddd;
}